* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.swiper-pagination {
  bottom: 50px !important;
}
.swiper-pagination-bullet-active {
  background-color: yellow !important;
  width: 10px !important;
  height: 10px !important;
}
