---
import Header from "../components/Header.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { getFirstPost } from "../lib/api";

const firstPost = await getFirstPost();
---

<MainLayout title="HomePAge">
  <Header />

  {firstPost.map((post) => <h3>{post.title}</h3>)}
</MainLayout>
