---
---

<div class="wrapper-caroussel">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide item">
        <img src="./recette01.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="./recette02.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="./recette03.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="./recette04.jpg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="./recette05.jpg" alt="" />
      </div>
    </div>
  </div>

  <div class="swiper-pagination"></div>
</div>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"
></script>
<script is:inline>
  new Swiper(".swiper", {
    slidesPerView: 1,
    spaceBetween: 30,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    breakpoints: {
      640: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      768: {
        slidesPerView: 2,
        spaceBetween: 40,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 50,
      },
    },
  });
</script>
<style>
  .wrapper-caroussel {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    background: #222;
    position: relative;
  }

  .swiper {
    width: 100%;
    height: 400px;
    transform: rotate(3deg);
    padding-top: 5rem;
  }

  .swiper-wrapper {
  }

  .swiper-slide {
    width: 500px;
    border-radius: 50px;
    overflow: hidden;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .swiper-pagination {
    
    padding 2rem;
  }

     .swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet{
      background : yellow !important;
     }
</style>
