---
import MainLayout from "../layouts/MainLayout.astro";
---

<header class="header">
  <h1>WebSite with Astro</h1>
  <a href="#splitCard">Voir</a>
</header>

<style>
  .header {
    background: #e67e22;
    width: 100%;
    height: calc(100vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  h1 {
    font-size: 5vw;
  }

  a {
    border: 1px solid black;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
  }
</style>
