---
import NavBar from "../components/NavBar.astro";
import "../styles/global.css";
const { title, description } = Astro.props;
---

<html lang="en">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={description} />
  <title>{title}</title>

  <body>
    <NavBar />
    <slot />
  </body>
</html>
